/* Esto es para centrar los botones dentro de las celdas de la tabla */
button{
	color:white;
    display: block;
    margin: auto;
	font-size:30px;
	margin-top: 25px;
	outline: none;
}

button:active {
	transform: translateY(9px);
    box-shadow: 0px 0px;
  }

.square-button{
	width: 64px;
	height: 64px;
}

.blue-button{
	background-color:blue;

	font-weight:bold;
	border-radius: 5px;
	border-color:blue;
	border-style: none;
    box-shadow: 0px 12px rgb(0,0,174);
}

.red-button{
	background-color:red;
	width: 345px;
	height: 64px;
	border-radius: 5px;
	border-color:red;
	border-style: none;
	box-shadow: 0px 12px rgb(210,0,0);
}

.green-button{
	background-color:rgb(109,211,51);
	border-radius: 5px;
	border-color:rgb(109,211,51);
	border-style: none;
	box-shadow: 0px 12px rgb(87,176,38);
}

.yellow-button{
	background-color:orange;
	border-radius: 5px;
	border-color:orange;
	border-style: none;
	box-shadow: 0px 12px rgb(223,112,0);
}

.inpSize{
	text-align: right;
	margin-left: 15px;
	margin-right: 15px;
	width: 330px;
	font-size: 64px;
}