/* Esto es para centrar los botones dentro de las celdas de la tabla */
button{
    display: block;
    margin: auto;
	font-size:30px;
	margin-top: 25px;
}

.blue-button
{
	color:white;
	background-color:blue;

	font-weight:bold;

	width: 96px;
	height: 96px;
	border-radius: 5px;
	border-color:blue;
	border-style: none;
    box-shadow: 0px 12px rgb(0,0,174);
}

.red-button
{
	color:#ffffff;
	background-color:red;
	width: 490px;
	height: 96px;
	border-radius: 5px;
	border-color:red;
	border-style: none;
	box-shadow: 0px 12px rgb(210,0,0);
}

.green-button
{
	color:rgb(255, 255, 255);
	background-color:rgb(109,211,51);
	width: 96px;
	height: 96px;
	border-radius: 5px;
	border-color:rgb(109,211,51);
	border-style: none;
	box-shadow: 0px 12px rgb(87,176,38);
}

.yellow-button
{
	color:white;
	background-color:orange;
	width: 96px;
	height: 96px;
	border-radius: 5px;
	border-color:orange;
	border-style: none;
	box-shadow: 0px 12px rgb(223,112,0);
}

.inpSize {
	margin-left: 15px;
	margin-right: 15px;
	width: 480px;
	font-size: 96px;
}